header, footer {
    text-align: center;
}
body {
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    color: white;
}
p {
    color:gray;
}
.button {
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    border: solid 1px white;
    width: 15%;
    height: 26%;
    font-size: 100%;
}
section {
    padding: 0% 13% 0% 15%;
    width: 1000px;
}
.img-perfil {
display:inline-block;
height: 11%;
width: 11%;
border-radius: 3px;
list-style: none;
}